@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  /*justify-content: center;
  align-items: center;
  height: 100vh; */
  background-color: #f0f0f0;
}
.AppHeader {
  background-color: black;
  height: 50px;
  width: 100vw;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.schoolinfo {
  color: white;
  text-align: center;
  margin: 0;
  font-family: 'Jua', sans-serif;
}
#map {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.explain-markers-box {
  z-index: 2;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 6px;
  padding: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.explain-markers {
  font-size: 15px;
  font-family: 'Jua', sans-serif;
}
.speech-bubble {
  position: absolute;
  top: 55px;
  left: 50px; /* Adjust this value to position the bubble horizontally */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg); /* Rotate arrow */
  border-width: 8px;
  border-style: solid;
  border-color: #007bff transparent transparent transparent;
}
